/fornecedores-api/mysql-data/
/fornecedores-api/target/
/.idea/
/pedidos-api/target/
/pedidos-api/postgres-data/
/deploy/terraform/.terraform/
/deploy/terraform/terraform.tfstate
/deploy/terraform/.terraform.lock.hcl
/deploy/terraform/terraform.tfstate.backup
/terraform.tfstate
/deploy/terraform/.terraform.tfstate.lock.info
